@using EntityViewer.Models

@model IEnumerable<Item>

@{
  ViewBag.Title = "Home Page";
}

<div id="left">
    <br/>
    <ul>
        <li id="m" onClick="$('#abc').toggle()">Items (count:@Model.Count()): </li>
        <div id="abc">
            <ul>
                @foreach (var item in Model)
                {
                    var mmm = string.Format(
                        "<p>Components (count: {0}): </br> {1}</p>",
                        item.Components.Count,
                        string.Join("</br>", item.Components.Select((c, i) => c.GetHashCode())));

                    <div class="tst" onClick="$('#right').html('@mmm')">
                        <li id="item" onClick="$('#mm_@item.GetHashCode()').toggle()">
                            Item hashCode: @item.GetHashCode();
                            Children (count: @item.Childs.Count);
                            Components (count: @item.Components.Count):
                        </li>
                        <ul id="mm_@item.GetHashCode()">
                            <li>
                                <p>
                                    @foreach (var child in item.ChildsAsEnumerable())
                                    {
                                        <p>
                                            - Child hashCode: @child.GetHashCode();
                                        </p>
                                    }
                                </p>
                            </li>
                        </ul>
                    </div>

                    @:---------------------------------------------------
                }
            </ul>
        </div>
    </ul>
</div>

<div id="right" >
    @Html.Raw("<p></p>")
@*Partial("Page1", @Model.First().Components.ToList())*@
</div>
