@using EntityViewer.Models
@model IEnumerable<Item>

@{ ViewBag.Title = "Items tree"; }

<br/>

@helper ShowItemTree(List<Item> items)
{
    <ul class="list-group">
        <div>
            <ul>
                @foreach (var item in items)
                {
                    var componentList = string.Format(
                        "<br/> <ul>Components (count: {0}): <br/> {1}</ul>",
                        item.Components.Count,
                        string.Join("<li>", item.Components.Select((c, i) => c.GetHashCode())));

                    <div>
                        <li id="item" class="list-group-item tree_item"
                            onClick="$('#tree_item_@item.GetHashCode()').toggle();$('#right_panel').html('@componentList');">
                            Item hashCode: @item.GetHashCode();
                            Children (count: @item.Childs.Count);
                            Components (count: @item.Components.Count):
                        </li>
                        <ul id="tree_item_@item.GetHashCode()">
                            <li>@ShowItemTree(item.Childs.ToList())</li>
                        </ul>
                    </div>
                }
            </ul>
        </div>
    </ul>
}

<div id="left_panel">
    <br/>
    Items (count: @Model.Count()):
    <br/>
    @ShowItemTree(@Model.ToList())
</div>

<div id="right_panel">
    <br/>
</div>
